<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
    <title>server</title>
</head>

<body class="bg-red-600">
    <h1 class="py-6 text-center text-2xl font-bold uppercase">Mis cursos</h1>
    <div class="mx-auto mt-6 grid max-w-3xl gap-4" style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));">
        <div class="mx-auto flex max-w-sm flex-col justify-between rounded-lg bg-white p-4 shadow">
            <h2 class="mb-2 text-lg font-medium">CURSO</h2>
            <p class="mb-4 text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil reprehenderit,
                quibusdam saepe cumque itaque laudantium ad. Iure iste architecto optio excepturi alias, molestiae
                cumque vel praesentium provident quis laboriosam error!</p>
            <span class="rounded-full bg-red-500 px-2 py-3 text-center text-xs font-medium text-white">NIVEL</span>
        </div>
        <div class="mx-auto flex max-w-sm flex-col justify-between rounded-lg bg-white p-4 shadow">
            <h2 class="mb-2 text-lg font-medium">CURSO</h2>
            <p class="mb-4 text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil reprehenderit,
                quibusdam saepe cumque itaque laudantium ad. Iure iste architecto optio excepturi alias, molestiae
                cumque vel praesentium provident quis laboriosam error!</p>
            <span class="rounded-full bg-red-500 px-2 py-3 text-center text-xs font-medium text-white">NIVEL</span>
        </div>
        <div class="mx-auto flex max-w-sm flex-col justify-between rounded-lg bg-white p-4 shadow">
            <h2 class="mb-2 text-lg font-medium">CURSO</h2>
            <p class="mb-4 text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil reprehenderit,
                quibusdam saepe cumque itaque laudantium ad. Iure iste architecto optio excepturi alias, molestiae
                cumque vel praesentium provident quis laboriosam error!</p>
            <span class="rounded-full bg-red-500 px-2 py-3 text-center text-xs font-medium text-white">NIVEL</span>
        </div>
        <div class="mx-auto flex max-w-sm flex-col justify-between rounded-lg bg-white p-4 shadow">
            <h2 class="mb-2 text-lg font-medium">CURSO</h2>
            <p class="mb-4 text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil reprehenderit,
                quibusdam saepe cumque itaque laudantium ad. Iure iste architecto optio excepturi alias, molestiae
                cumque vel praesentium provident quis laboriosam error!</p>
            <span class="rounded-full bg-red-500 px-2 py-3 text-center text-xs font-medium text-white">NIVEL</span>
        </div>
    </div>

</body>

</html>